@page "/"
@using AirRoute.ADSB;
@using System.Timers;
@inject RouterManager routerManager;

<PageTitle>Index</PageTitle>

<table class="table">
    <thead>
        <tr>
            <td>Hostname</td>
            <td>Port</td>
            <td>Status</td>
            <td>Error</td>
        </tr>
    </thead>
    @foreach (var output in routerManager.Outputs)
    {
        <tr>
            <td>@output.Hostname</td>
            <td>@output.Port</td>
            <td>@output.StatusMessage</td>
            <td title="@output.ErrorMessage">@output.Error</td>
        </tr>
    }
</table>

<button class="btn btn-danger" @onclick="Add">Add</button>

@code {
    Timer timer;

    protected override void OnInitialized()
    {
        timer = new();
        timer.Interval = TimeSpan.FromSeconds(10).TotalMilliseconds;
        timer.Elapsed += RefreshEvent;
        timer.Start();
    }

    private void RefreshEvent(object? source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private void Add()
    {
        routerManager.AddOutput("192.168.168.3", 3277, true);
    }

}